.choose-skin {
    li {
        button {
            height: 1.5rem;
            width: 1.5rem;
            min-width: 0;
            border-radius: 2rem;
            background-color: pink;
            margin-right: 10px;
            padding: 0;

            &.default {
                background-color: #255bc3;
                border-color: #255bc3;
            }

            &.green {
                background-color: #7eb93f;
                border-color: #7eb93f;
            }

            &.blush {
                background-color: #ed5782;
                border-color: #ed5782;
            }

            &.cyan {
                background-color: #00bdaa;
                border-color: #00bdaa;
            }
        }
    }
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    &:focus {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active,
    &.show {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        background-color: var(--primary);
        border-color: var(--primary);
        opacity: 0.6;
    }
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:focus {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active,
    &.show {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        background-color: var(--secondary);
        border-color: var(--secondary);
        opacity: 0.6;
    }
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

a {
    color: var(--primary);

    &:hover,
    &:focus,
    &:active {
        color: var(--primary-dark);
    }
}

.btn {
    &.btn-primary {
        &:focus {
            box-shadow: var(--primary) 0 0 0 1px;
        }

        &:hover {
            background-color: var(--primary-dark);
        }

        &.active {
            background-color: var(--primary-dark);
        }
    }

    &.btn-secondary {
        color: $body-color;

        &:focus {
            box-shadow: var(--secondary) 0 0 0 1px;
        }

        &:hover {
            background-color: var(--secondary-dark);
        }

        &.active {
            background-color: var(--secondary-dark);
        }
    }
}

// sidebar theme
.sidebar {
    .nav {
        .nav-link {
            &:hover {
                background-color: var(--primary-dark);
            }

            &.active {
                background-color: var(--primary-dark);
            }
        }
    }
}

// sidebar theme ends

//nav link
.nav-link {
    color: var(--primary);

    &:hover {
        color: var(--primary-dark);
    }
}

//nav link ends

// p-checkbox
.p-checkbox {
    .p-checkbox-box {
        &.p-highlight {
            border-color: var(--primary);
            background: var(--primary);

            &:hover,
            &:active {
                color: var(--primary-dark) !important;
            }
        }
    }
}

.p-checkbox:not(.p-checkbox-disabled) {
    .p-checkbox-box.p-highlight:hover {
        color: var(--primary-dark);
        border-color: var(--primary);
        background: var(--primary);
    }
}

.p-checkbox:not(.p-checkbox-disabled) {
    .p-checkbox-box.p-focus {
        border-color: var(--primary);
    }
}

// p-checkbox ends

//switch

.p-inputswitch.p-inputswitch-checked {
    .p-inputswitch-slider {
        background: var(--primary);
    }

    &:not(.p-disabled) {
        &:hover {
            .p-inputswitch-slider {
                background: var(--primary);
            }
        }
    }
}

//switch ends

//dropdown
.dropdown-item.active, .dropdown-item:active {
    background: var(--primary);
}
//dropdown ends

//text
.text-primary {
    color: var(--primary) !important;
}
//text ends