@charset "UTF-8";

// 1. Configuration and helpers
@import "abstract/variable", "abstract/mixin";

// 2. Vendors
@import "node_modules/bootstrap/scss/bootstrap.scss",
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";


// 3. Base stuff
@import "base/type", "base/helper";

// 4. Layout-related sections
@import "layout/header", "layout/sidebar", "layout/main", "layout/footer";

// 5. Components
@import "component/form-control", "component/tabs", "component/table";

// 6. Page-specific styles
// @import "page/login";

// 7. theme styles
//@import 'theme/theme';