:root {
  --color-primary-light: #3a383869;
  --color-primary: #b6ccd469;
  --color-primary-dark: #1e88e5;

  --color-secondary-light: #ffb74d;
  --color-secondary: #ff9800;
  --color-secondary-dark: #f57c00;

  --color-success-light: #81c784;
  --color-success: #4caf50;
  --color-success-dark: #388e3c;

  --color-danger-light: #e57373;
  --color-danger: #f44336;
  --color-danger-dark: #d32f2f;

  --color-antd-disabled-bg: #e5e4e2;
  --color-antd-disabled-border: #d3d3d3;
  --color-disabled-text: #948989; //  rgba(0, 0, 0, 0.75)

  /*worflow table colors*/
  /* Blue shades */
  --color-wf-primary-blue: #3762ea;
  --color-wf-light-blue: #e1e7fc;

  /* Red shades */
  --color-wf-light-red: #ffe9e9;
  --color-wf-primary-red: #ff2e2e;
  --color-wf-secondary-red: #c50017;

  /* Yellow shades */
  --color-wf-light-yellow: #f9e9cd;
  --color-wf-primary-yellow: #e9a121;
  --color-wf-highlight-yellow: #fff11e;

  /* Green shades */
  --color-wf-light-green: #e0f7ea;
  --color-wf-primary-green: #1ab55f;
}

// font style start

// font style end

.ant-table-thead .ant-table-cell {
  background-color: var(--color-primary) !important;
}

// antd scrollbar color width change START
.ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;
}

// custom scrollbar
.ant-table-body::-webkit-scrollbar {
  width: 6px;
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #e1e6e6;
}

.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  // background-color: rgb(41, 80, 219);
}

// antd scrollbar color width change ENDS

//workflow table styling
.workflow-table {
  width: 100%;
  border-collapse: collapse;
  // font-family: $lato;

  th,
  td {
    min-width: 12rem;
    max-width: 20rem;
    text-wrap: wrap;
    padding: 10px 12px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    background-color: #d7dce4;
    color: #333333;
    font-weight: 500;
    position: sticky;
    left: 0;
    z-index: 2;
    line-height: 1.5rem;
  }

  th::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
  }

  td::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #d7dce4;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
  }

  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #d7dce4;
    z-index: 3;
    min-width: 12rem;
    max-width: 12rem;
    width: 12rem;
  }

  td.status-cell-rejected {
    color: var(--color-wf-primary-red);
    background-color: var(--color-wf-light-red);
  }

  td.status-cell-inreview {
    color: var(--color-wf-primary-yellow);
    background-color: var(--color-wf-light-yellow);
  }

  td.status-cell-pending {
    color: var(--color-wf-primary-blue);
    background-color: var(--color-wf-light-blue);
  }

  td.status-cell-approved {
    color: var(--color-wf-primary-green);
    background-color: var(--color-wf-light-green);
  }

  td.status-cell-underamendment {
    color: orange;
    /* No variable defined for orange */
    background-color: rgba(255, 165, 0, 0.1);
    /* Using rgba with hex code for light orange */
  }

  td.active-approver,
  th.active-approver {
    border: 3px solid var(--color-wf-highlight-yellow);
  }
}

.custom-customer-part-no .ant-select-selector .ant-select-selection-overflow {
  display: block !important;
  /* Override display: flex with display: block */
}

.custom-customer-part-no .ant-select-selector .ant-select-selection-item {
  /* Override display: flex with display: block */
}

.custom-customer-part-no
  .ant-select-selector
  .ant-select-selection-overflow-item {
  display: block !important;
  /* Override display: flex with display: block */
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* overriding SPFX default styles  */

.CanvasComponent.LCS {
  &.row {
    margin-top: calc(-1 * var(--bs-gutter-y)) !important;
    margin-right: calc(-0.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-0.5 * var(--bs-gutter-x)) !important;
  }
}

#workbenchPageContent {
  max-width: 100%;
  // font-family: $lato, serif;

  .CanvasComponent {
    &.LCS {
      .CanvasZone {
        padding: 0;
        max-width: 100%;

        &.row {
          .CanvasSection {
            // padding: 0px !important;
            // margin: 0px !important;
            .ControlZone {
              margin: 0px;
              padding: 0px;
            }
          }
        }
      }

      .CanvasSection-col {
        padding: 0;
      }
    }
  }
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read,
.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
  // height: 100%;
}

[data-automation-id="CanvasSection"] {
  padding: 0 !important;
  // height: 80vh;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child
  .ControlZone.ControlZone--clean {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
}

#workbenchPageContent,
.CanvasComponent.LCS .CanvasZone {
  max-width: 100%;
}

.gw_ar_9f38462c {
  display: none;
}

.ControlZone.ControlZone--clean.ControlZone--emphasis.root-54 {
  padding: 0 !important;
  margin: 0 !important;
}

/* END */
