@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(41, 80, 219);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background-color: rgb(41, 80, 219);
}

.root-150.root-150.root-150.root-150.root-150 {
  /* background-color: rgb(246, 243, 243); */
}
