/******************************** overriding SPFX default styles  ************************************/

.CanvasComponent.LCS {
  &.row {
    margin-top: calc(-1 * var(--bs-gutter-y)) !important;
    margin-right: calc(-0.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-0.5 * var(--bs-gutter-x)) !important;
  }
}

#workbenchPageContent {
  max-width: 100%;
  font-family: $theme-font-family, sans-serif;

  .CanvasComponent {
    &.LCS {
      .CanvasZone {
        padding: 0;
        max-width: 100%;

        &.row {
          .CanvasSection {
            // padding: 0px !important;
            // margin: 0px !important;
            .ControlZone {
              margin: 0px;
              padding: 0px;
            }
          }
        }
      }

      .CanvasSection-col {
        padding: 0;
      }
    }
  }
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read,
.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
  // height: 100%;
}

[data-automation-id="CanvasSection"] {
  padding: 0 !important;
  // height: 100vh;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child
  .ControlZone.ControlZone--clean {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
}

#workbenchPageContent,
.CanvasComponent.LCS .CanvasZone {
  max-width: 100%;
}

.gw_ar_9f38462c {
  display: none;
}

.ControlZone.ControlZone--clean.ControlZone--emphasis.root-54 {
  padding: 0 !important;
  margin: 0 !important;
}

#pageHeader {
  height: 0px !important;
}

// .b_b_50a7110f {
//   display: none !important;
// }

/******************************** overriding SPFX default styles  ************************************/
/******************************* END *****************************/

.btn-primary {
  color: $white;

  &:hover,
  &:active {
    color: $white !important;
    background-color: $red-2 !important;
    border-color: $primary !important;
  }

  &:focus {
    color: $white !important;
    background-color: $primary !important;
  }
}

.btn-outline-primary {
  color: $primary;

  &:hover,
  &:active {
    color: $white !important;
    background-color: rgba($primary, 0.8) !important;
    border-color: $primary !important;
  }
}

.btn-danger {
  color: $white;
  background-color: $danger;

  &:hover,
  &:active,
  &:focus {
    color: $white !important;
    background-color: $red-1 !important;
  }
}

.btn-outline-danger {
  color: $danger;

  &:hover,
  &:active {
    color: $white !important;
    background-color: rgba($danger, 0.8) !important;
    border-color: rgba($red-1, 0.8) !important;
  }
}

.table {
  &.table-theme {
    thead {
      th {
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        background-color: #d7dce4 !important;
      }
    }

    tbody {
      th,
      td {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
}

button {
  &.btn {
    i {
      &.btn-icon-right {
        margin-right: 0;
        margin-left: 5px;
      }

      margin-right: 5px;
    }
  }

  &.btn-back {
    color: #1e293b;
    text-decoration: none;
    font-size: 18px;

    i {
      font-size: 16px;
      margin-right: 7px;
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  color: $primary;
  font-size: 1rem;
}

.form-section-title {
  @extend .h2;
  font-weight: 700;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.event-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.text-gray {
  color: #898989;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-disabled {
  cursor: not-allowed;
}

.w-fit {
  width: fit-content;
}

.min-h-80 {
  min-height: 80vh;
}

.min-h-webkit-fill-available {
  min-height: -webkit-fill-available; /* WebKit-based browsers (Chrome, Safari) */
  min-height: -moz-available; /* Firefox */
  min-height: stretch; /* Edge and other modern browsers */
}

.h-webkit-fill-available {
  height: -webkit-fill-available; /* WebKit-based browsers (Chrome, Safari) */
  height: -moz-available; /* Firefox */
  height: stretch; /* Edge and other modern browsers */
}

.px-2dot5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ml-525rem {
  margin-left: 5.25rem;
}

.left-325rem {
  left: -3.25rem;
}

.mx-2rem {
  margin-left: 2rem;
  margin-right: 2rem;
}

.min-h-225rem {
  min-height: 2.25rem;
}

.bg-opacity-50 {
  background-color: rgba($color: #3762ea, $alpha: 0.5);
  color: white !important;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.mb-125 {
  margin-bottom: 1.25rem;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

// .ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
//   width: 21rem;
//   background-color: rgba($color: #000000, $alpha: 0.8);
//   padding: 0.75rem;
// }

.custom-tooltip .ant-tooltip-inner {
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 0.75rem;
}

.travel-classification-tooltip .ant-tooltip-inner {
  width: 31.25rem;
  text-align: left;
}

.workflow-tooltip .ant-tooltip-inner {
  width: 22rem;
}

.invisible {
  visibility: hidden;
}

.nav-breaker {
  background-color: $text-lightgrey;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 14px;
}

.sidebar-margin {
  margin-left: $side-bar-width;
}

.text-yellow-1 {
  color: $yellow-1 !important;
}

.w-95{
  width: 95%;
}
