html {
  font-size: 1rem; //1rem
}

body {
  font-size: 1rem;
  font-weight: 500;

  @include mq(tablet) {
    font-size: 14px;
  }
}

html body,
html .ant-typography,
html .ant-btn,
html .ant-input,
html .ant-select,
html .ant-picker,
html .ant-modal,
html .ant-tooltip,
html .ant-dropdown,
html .ant-table,
html .ant-card,
html .ant-form {
  font-family: $theme-font-family, sans-serif;
}
