.sidebar {
    width: 13.875rem;
    padding: 1.375rem;
    background-color: $white;

    &.hide {
        width: 85px;

        .nav-link {
            .link-name {
                display: none;
            }

            i {
                margin-right: 0;
            }
        }
    }

    .nav-item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .nav-link {
        font-weight: 600;
        border-radius: 4px;
        color: #060D38;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: start;

        &.active {
            background: $primary;
            color: $white;
        }

        .link-name {
            font-size: .875rem;
        }

        i {
            font-size: 1.125rem;
            margin-right: 17px;
            vertical-align: middle;
        }
    }
}