.status-badge {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 500;

  &.status-badge-reviewed,
  &.status-badge-pending,
  &.status-badge-draft,
  &.status-badge-in-process {
    color: $blue-1;
    background-color: $blue-bg;
  }

  &.status-badge-rejected {
    color: $red-1;
    background-color: $red-bg;
  }

  &.status-badge-under-approval,
  &.status-badge-in-review {
    color: $yellow-1;
    background-color: $yellow-bg;
  }

  &.status-badge-completed,
  &.status-badge-submitted,
  &.status-badge-approved,
  &.status-badge-closed {
    color: $green-1;
    background-color: $green-bg;
  }

  &.status-badge-review-declined,
  &.status-badge-under-review,
  &.status-badge-under-amendment {
    color: $warning;
    background-color: rgba($color: $warning, $alpha: 0.1);
  }
}

p.text-cell {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font-family;
  color: $darkgrey;
  text-transform: capitalize;
}

.ant-table
  > .ant-table-container
  > .ant-table-content
  > table
  > thead.ant-table-thead
  > .ant-table-cell {
  background-color: green;
}

.custom-nested-table .ant-table-tbody > tr > td {
  background-color: #f5f5f5; /* Light grey shade */
}

.custom-nested-table .ant-table-tbody > tr:hover > td {
  background-color: #e0e0e0; /* Slightly darker grey on hover */
}

.ant-table-wrapper {
  .ant-table-container {
    table {
      > thead {
        > tr {
          &:first-child {
            > *:first-child {
              border-start-start-radius: 0;
            }

            > *:last-child {
              border-start-end-radius: 0;
            }
          }

          th {
            background-color: #d7dce4;
            padding: 10px 12px;
            font-size: 15px;
            font-weight: 500;
            color: #333;
          }
        }
      }
    }
  }

  .ant-table-tbody {
    > tr {
      > td {
        padding: 10px 12px;
        font-size: 14px;
        font-weight: 400;
        color: #333;

        p {
          margin-bottom: 0;
        }

        .action-cell {
          display: flex;
          justify-content: center;

          i {
            font-size: 14px;
            color: #16aaee;
          }
        }

        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
  }
}

.ant-space {
  width: 100%;
}

// .ant-table-content {
//   overflow-x: auto !important;
//   -webkit-overflow-scrolling: touch;
// }

.workflow-table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family;

  th,
  td {
    min-width: 12rem;
    max-width: 20rem;
    text-wrap: wrap;
    padding: 10px 12px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    background-color: #d7dce4;
    color: #333333;
    font-weight: 500;
    position: sticky;
    left: 0;
    z-index: 2;
    line-height: 1.5rem;
  }

  th::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
  }

  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #d7dce4;
    z-index: 3;
    min-width: 12rem;
    max-width: 12rem;
    width: 12rem;
  }

  tbody tr:nth-child(even) {
    background-color: #f4f6f9;
  }

  td.status-cell-rejected {
    color: $red-1;
    background-color: $red-bg;
  }

  td.status-cell-inreview {
    color: $yellow-1;
    background-color: $yellow-bg;
  }

  td.status-cell-pending {
    color: $blue-1;
    background-color: $blue-bg;
  }

  td.status-cell-approved {
    color: $green-1;
    background-color: $green-bg;
  }

  td.status-cell-underamendment {
    color: $warning;
    background-color: rgba($warning, 0.1);
  }

  td.active-approver,
  th.active-approver {
    border: 3px solid $yellow-1;
  }
}

.dashboard-table {
  & {
    td,
    th {
      min-width: 12rem;
      max-width: 12rem;

      &:nth-child(1) {
        min-width: 2rem;
        max-width: 2rem;
      }

      &:nth-child(3) {
        min-width: 16rem;
        max-width: 16rem;
      }

      &:last-child {
        min-width: 8rem;
        max-width: 8rem;
      }
    }
  }
}

.dashboard-nested-table {
  & {
    td,
    th {
      min-width: 12rem;
      max-width: 12rem;

      &:nth-child(1){
        min-width: 12rem;
        max-width: 12rem;
        padding-left: 16px !important;
      }
 
      &:nth-child(2) {
        min-width: 16rem;
        max-width: 16rem;
      }
 
      &:nth-child(3) {
        min-width: 12rem;
        max-width: 12rem;
      }

      &:last-child {
        min-width: 8rem;
        max-width: 8rem;
      }
    }
  }
}

.flight-details-table {
  & {
    td,
    th {
      min-width: 10rem;

      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(8) {
        min-width: 9rem;
      }

      &:nth-child(2) {
        min-width: 16rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }
  }
}

.hotel-details-table {
  & {
    td,
    th {
      min-width: 10rem;

      &:nth-child(3),
      &:nth-child(4) {
        min-width: 12rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }
  }
}

.custom-nested-table .ant-table-tbody > tr > td {
  background-color: #f5f5f5; /* Light grey shade */
}

/* Optional: Add a different background color on hover */
.custom-nested-table .ant-table-tbody > tr:hover > td {
  background-color: #e0e0e0; /* Slightly darker grey on hover */
}
