.nav-underline .nav-link {
    color: rgba($color: $black, $alpha: 0.6);
    padding: 1.25rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav-underline {
    + .tab-content {
      margin-top: -1px;
      border-top: 1px solid #d7dce4;
      background: $white;
      padding: 1.5rem 1.25rem;
    }
    + .tab-content-dashboard {
      margin-top: -1px;
      border: 1px solid #d7dce4;
      background: $white;
      padding: 1.5rem 1.25rem;
    }
  }
  
  .nav {
    &.nav-tab-bar {
      border-bottom: 1px solid #d7dce4;
    }
  }
  
  .nav-underline {
    &.nav-link.active {
      font-weight: 500;
    }
  }
  
  .nav-pills {
    .nav-link {
      background: #e3e3e3;
      border-color: #d9d9d9;
      color: $darkgrey;
      margin-bottom: 10px;
      font-weight: 700;
      min-width: 14.4375rem;
      text-align: left;
      font-size: 13px;
      border-radius: 4px;
  
      i {
        margin-right: 13px;
        font-size: 14px;
      }
  
      &:not(.active) {
        font-weight: 500;
  
        i {
          color: #898989;
        }
      }
  
      &.completed,&.approved {
        background: $success;
        color: $white;
  
        i {
          color: $white;
  
          &.fa-solid {
            &:before {
              content: "\f058";
            }
          }
        }
      }
    }
  }
  
  .cta-btns {
    @extend .d-flex;
    @extend .justify-content-end;
    @extend .align-items-center;
    @extend .position-absolute;
    right: 0;
    top: -72px;
  }
  
  .nav-link {
    &.tab-link {
      font-weight: 500;
      color: #898989;
    }
  }
  
  .tab-section {
    background-color: white;
    @extend .w-100;
    min-height: 60vh;
    padding: 1.25rem;
  }
  
  