.sidebar {
  width: $side-bar-width;
  padding: 1.375rem;
  background-color: $white;
  border-right:1px solid #e5eaee !important ;

  &.hide {
    width: 85px;

    .nav-link {
      .link-name {
        display: none;
      }

      i {
        margin-right: 0;
      }
    }
  }

  .nav-item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .nav-link {
    font-weight: 600;
    border-radius: 4px;
    color: #060d38;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: start;

    &.active {
      background: $primary;
      color: $white;
    }
    
    &.info {
      background: $light-grey;
      color: $text-grey !important;
      font-weight: 700;
    }

    .link-name {
      font-size: 0.875rem;
    }

    i {
      font-size: 1.125rem;
      margin-right: 17px;
      vertical-align: middle;
    }
  }
}
