.btn-primary {
  color: $white;
  background-color: $primary !important;
   height :100%;
  &:hover,
  &:active,
  &:focus {
    color: $white !important;
  }
}

.masterbutton {
  margin: 0; 
  margin-right: 15px; 
  display: inline-block; 
}
.btn-outline-primary {
  color: $primary;
  height :100%;

  &:hover,
  &:active {
    color: $primary !important;
    border-color: $primary !important;
  }
}
// .table-container {
//   padding :24px;
// }

.table {
  &.table-theme {
    thead {
      th {
        font-size: 0.9rem !important;
        font-weight: 500 !important;
        background-color: #d7dce4 !important;
        border:#d7dce4 
      }
    }

    tbody {
      th,
      td {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
}

button {
  &.btn {
    i {
      &.btn-icon-right {
        margin-right: 0;
        margin-left: 5px;
      }

      margin-right: 5px;
    }
  }

  &.btn-back {
    color: #1e293b;
    text-decoration: none;
    font-size: 18px;

    i {
      font-size: 16px;
      margin-right: 7px;
    }
  }
}

.action-btn {
  background:none !important;
   border: none !important;
  //  border-color: red !important;

}
.h2 {
  color: $primary;
  font-size: 1rem;
}

.form-section-title {
  @extend .h2;
  font-weight: 700;
}

.CanvasComponent.LCS {
  &.row {
    margin-top: calc(-1 * var(--bs-gutter-y)) !important;
    margin-right: calc(-0.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-0.5 * var(--bs-gutter-x)) !important;
  }
}

.n_c_8474018e {
  padding: 0 !important;
}

#workbenchPageContent {
  max-width: 100%;
  font-family: $font-family, serif;

  .CanvasComponent {
    &.LCS {
      .CanvasZone {
        padding: 0;
        max-width: 100%;

        &.row {
          .CanvasSection {
            .ControlZone {
              margin: 0px;
              padding: 0px;
            }
          }
        }
      }

      .CanvasSection-col {
        padding: 0;
      }
    }
  }
}

#workbenchPageContent,
.CanvasComponent.LCS .CanvasZone {
  max-width: 100%;
}

.gw_ar_9f38462c {
  display: none;
}

.ControlZone.ControlZone--clean.ControlZone--emphasis.root-54 {
  padding: 0 !important;
  margin: 0 !important;
}

/* overriding SPFX default styles  */

.CanvasComponent.LCS {
  &.row {
    margin-top: calc(-1 * var(--bs-gutter-y)) !important;
    margin-right: calc(-0.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-0.5 * var(--bs-gutter-x)) !important;
  }
}

#workbenchPageContent {
  max-width: 100%;
  font-family: $font-family, serif;

  .CanvasComponent {
    &.LCS {
      .CanvasZone {
        padding: 0;
        max-width: 100%;

        &.row {
          .CanvasSection {
            // padding: 0px !important;
            // margin: 0px !important;
            .ControlZone {
              margin: 0px;
              padding: 0px;
            }
          }
        }
      }

      .CanvasSection-col {
        padding: 0;
      }
    }
  }
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read,
.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
  // height: 100%;
}

[data-automation-id="CanvasSection"] {
  padding: 0 !important;
  // height: 100vh;
}

.CanvasZone.row.CanvasZone--alignment.CanvasZone--noMargin.CanvasZone--read
  > div:first-child
  .ControlZone.ControlZone--clean {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
}

#workbenchPageContent,
.CanvasComponent.LCS .CanvasZone {
  max-width: 100%;
}

.gw_ar_9f38462c {
  display: none;
}

.ControlZone.ControlZone--clean.ControlZone--emphasis.root-54 {
  padding: 0 !important;
  margin: 0 !important;
}

/* END */


.text-blue-2 {
  color: $blue-2;
}

.mx-2rem {
  margin-left: 2rem;
  margin-right: 2rem;
}

.w-90 {
  width: 90%;
}

.mt-2rem {
  margin-top: 2rem;
}

.item-card {
  border-color: #ccc;

  .ant-card-head {
    border-color: #ccc;
  }
}

.form-field-error {
  color: $danger;
  font-size: 12px;
}

.pl-0{
  padding-left: 0px !important;
}
