.status-badge {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: 500;

  &.status-badge-pending,
  &.status-badge-under-implementation,
  &.status-badge-pcrn-pending,
  &.status-badge-draft {
    color: $blue-1;
    background-color: $blue-bg;
  }

  &.status-badge-rejected {
    color: $red-1;
    background-color: $red-bg;
  }

  &.status-badge-in-review,
  &.status-badge-toshiba-technical-review,
  &.status-badge-logical-amendment-inReview,
  &.status-badge-result-monitoring {
    color: $yellow-1;
    background-color: $yellow-bg;
  }

  &.status-badge-approved,
  &.status-badge-completed {
    color: $green-1;
    background-color: $green-bg;
  }

  &.status-badge-under-amendment,
  &.status-badge-logical-amendment,
  &.status-badge-under-toshiba-approval
   {
    color: $warning;
    background-color: rgba($color: $warning, $alpha: 0.1);
  }
}

p.text-cell {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: $theme-font-family, sans-serif;
  color: $darkgrey;
  text-transform: capitalize;
}

.ant-table
  > .ant-table-container
  > .ant-table-content
  > table
  > thead.ant-table-thead
  > .ant-table-cell {
  background-color: green;
}

.ant-tabs .ant-tabs-nav {
  // margin: 0px !important;
  margin-bottom: 1px !important;
}

.ant-table-wrapper {
  .ant-table-container {
    table {
      > thead {
        > tr {
          &:first-child {
            > *:first-child {
              border-start-start-radius: 0;
            }

            > *:last-child {
              border-start-end-radius: 0;
            }
          }

          th {
            font-family: $theme-font-family, sans-serif;
            background-color: #d7dce4;
            padding: 10px 12px;
            font-size: 15px;
            font-weight: 500;
            color: #333;
          }
        }
      }
    }
  }

  .ant-table-tbody {
    > tr {
      > td {
        font-family: $theme-font-family, sans-serif;
        padding: 10px 12px;
        font-size: 14px;
        font-weight: 400;
        color: #333;

        p {
          margin-bottom: 0;
        }

        .action-cell {
          display: flex;
          justify-content: center;

          i {
            font-size: 14px;
            color: #16aaee;
          }
        }

        .ant-form-item {
          margin-bottom: 0;
        }
      }
    }
  }
}

.ant-space {
  width: 100%;
}

// .ant-table-content {
//   overflow-x: auto !important;
//   -webkit-overflow-scrolling: touch;
// }

.table{
  max-height: 400px;
  // overflow-y: auto;
}
.workflow-table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  font-family: $theme-font-family, sans-serif;

  th,
  td {
    min-width: 12rem;
    max-width: 20rem;
    text-wrap: wrap;
    padding: 10px 12px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    background-color: #d7dce4;
    color: #333333;
    font-weight: 500;
    position: sticky;
    left: 0;
    z-index: 2;
    line-height: 1.5rem;
  }

  th::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
  }

  td::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 1.6em;
    background-color: #d7dce4;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: "";
  }

  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    background-color: #d7dce4;
    z-index: 3;
    min-width: 12rem;
    max-width: 12rem;
    width: 12rem;
  }

  tbody tr:nth-child(even) {
    background-color: #f4f6f9;
  }

  td.status-cell-rejected {
    color: $red-1;
    background-color: $red-bg;
  }

  td.status-cell-inreview {
    color: $yellow-1;
    background-color: $yellow-bg;
  }

  td.status-cell-pending {
    color: $blue-1;
    background-color: $blue-bg;
  }

  td.status-cell-approved {
    color: $green-1;
    background-color: $green-bg;
  }

  td.status-cell-underamendment {
    color: $warning;
    background-color: rgba($warning, 0.1);
  }

  td.active-approver,
  th.active-approver {
    border: 3px solid $yellow-1;
  }
}

.history-table {
  .ant-table {
    &-row {
      &:nth-child(even) {
        background-color: #f4f6f9;
      }
    }
  }

  .ant-table-tbody td {
    vertical-align: top;
  }
}

.dashboard-table {
  & {
    td,
    th {
      min-width: 10rem;
      min-width: 13rem;

      &:nth-child(6) {
        min-width: 12rem;
      }

      &:last-child,
      &:nth-last-child(2) {
        min-width: 8rem;
      }
    }
  }
}

.travel-details-table {
  & {
    td,
    th {
      min-width: 8rem;
      max-width: 10rem;

      &:nth-child(1) {
        min-width: 14rem;
        max-width: 14rem;
      }

      &:nth-child(2) {
        min-width: 12.5rem;
        max-width: 12.5rem;
      }

      &:nth-child(3) {
        min-width: 12rem;
        max-width: 12rem;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) {
        min-width: 13rem;
        max-width: 13rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }

    .ant-table-tbody td {
      vertical-align: top;
    }
  }
}

.flight-details-table {
  & {
    td,
    th {
      min-width: 10rem;
      max-width: 12rem;

      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(8) {
        min-width: 9rem;
      }

      &:nth-child(2) {
        min-width: 16rem;
        max-width: 16rem;
      }

      &:nth-child(5),
      &:nth-child(6) {
        min-width: 12.5rem;
        max-width: 12.5rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }
  }
}

.change-risk-table {
  & {
    td,
    th {
      min-width: 10rem;
      max-width: 14rem;

      &:nth-child(3),
      &:nth-child(4) {
        min-width: 12.5rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }
  }
}

.vendor-details-table {
  & {
    td,
    th {
      min-width: 10rem;
      max-width: 12rem;

      &:nth-child(1) {
        min-width: 2rem;
      }

      &:nth-child(2) {
        max-width: 16rem;
      }

      &:nth-child(3) {
        min-width: 6rem;
        max-width: 6rem;
      }

      &:nth-child(4),
      &:nth-child(5) {
        min-width: 8rem;
        max-width: 8rem;
      }

      &:last-child {
        min-width: 6rem;
      }
    }
  }
}

.custom-row-disabled,
.ant-table-row-selected.custom-row-disabled,
.ant-table-row.custom-row-disabled {
  background-color: rgba($black, 0.1) !important;
  pointer-events: none;

  &:hover {
    background-color: rgba($black, 0.1) !important;
  }
}

.ant-table-tbody > tr.custom-row-disabled:hover > td {
  background-color: rgba($black, 0.1) !important;
  pointer-events: none;
}

.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected.custom-row-disabled
  > .ant-table-cell {
  background-color: rgba($black, 0.01) !important;
  pointer-events: none;
}

.ant-table-tbody td {
  vertical-align: top;
}
