.nav-underline .nav-link {
  color: rgba($color: $black, $alpha: 0.6);
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.nav-underline {
  + .tab-content {
    margin-top: -1px;
    // border-top: 1px solid #d7dce4;
    border: 1px solid #d7dce4;
    background: $white;
    padding: 1.5rem 1.25rem;
  }
}

.nav {
  &.nav-tab-bar {
    border-bottom: 1px solid #d7dce4;
  }
}

.nav-underline {
  &.nav-link.active {
    font-weight: 500;
  }
  &.nav-link.info {
    font-weight: 500;
  }
}

.nav-pills {
  .nav-link {
    background: #e3e3e3;
    border-color: #d9d9d9;
    color: $darkgrey;
    margin-bottom: 10px;
    font-weight: 700;
    min-width: 14.4375rem;
    text-align: left;
    font-size: 13px;
    border-radius: 4px;

    i {
      margin-right: 13px;
      font-size: 14px;
    }

    &:not(.active) {
      font-weight: 500;

      i {
        color: #898989;
      }
    }

    &.completed {
      background: $success;
      color: $white;

      i {
        color: $white;

        // &.fa-solid {
        //   &:before {
        //     content: "\f058";
        //   }
        // }
      }
    }

    &.active {
      background: $primary;
    }

    &.info {
      background: $light-grey;
      font-weight: 700;
      color: $text-grey !important;
      i {
        color: $text-grey !important;
      }
    }
  }
}

.cta-btns {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;
  @extend .position-absolute;
  right: 0;
  top: 0;
}

.nav-link {
  &.tab-link {
    font-weight: 500;
    color: #898989;
  }
}

.tab-section {
  background-color: white;
  @extend .w-100;
  min-height: 60vh;
  // padding: 1.25rem;
}

// .custom-request-tabs {
//   position: absolute;
//   top: 82px;
//   width: -webkit-fill-available; /* WebKit-based browsers (Chrome, Safari) */
//   width: -moz-available; /* Firefox */
//   width: stretch; /* Edge and other modern browsers */
// }

.custom-request-tabs {
  position: absolute;
  top: 82px;
  width: var(--custom-width, stretch);
}

@supports (width: stretch) {
  .custom-request-tabs {
    --custom-width: stretch;
  }
}

@supports (width: -webkit-fill-available) {
  .custom-request-tabs {
    --custom-width: -webkit-fill-available;
  }
}

@supports (width: -moz-available) {
  .custom-request-tabs {
    --custom-width: -moz-available;
  }
}
